*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    width: 100%;
    
    
}
.navbar{
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    position: absolute;
    left: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100%;
    color: whitesmoke;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    position: absolute;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.menu a:hover{
    color: rgb(255, 255, 255, 1);
    font-size: 25px;
    font-weight: bold;
}

.search{
    position: absolute;
    right: 30px;
}

.search .searchinput{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
}

.search .searchbutton{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(214, 100, 0, 0.5);
    transition: ease-in 0.2s;
    opacity: 0.8;
}

.search .searchbutton:hover{
    font-size: 18px;
    color: white;
    width: 85px;
    height: 45px;
    opacity: 1;
}

.content{
    max-width: 1200px;
    width: auto;
    top: auto;
    color: whitesmoke;
    margin: 80px;
    position: relative;
}

.content h1{
    font-size: 80px;
}

.content h1 span{
    font-size: 90px;
    color: rgb(255, 135, 30);
}

.content .par{
    width: auto;
    height: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.actionbutton{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(255, 135, 30);
    transition: ease-in 0.2s;
    opacity: 0.8;
    margin: 30px 0;
}

@media (max-width: 900px) {

    .navbar {
        height: auto;
        padding: 20px 0;
        flex-direction: column;
        gap: 15px;
    }

    .icon {
        position: static;
        text-align: center;
    }

    .menu {
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .search {
        position: static;
        margin-top: 10px;
    }

    .searchinput {
        width: 180px;
    }
}

@media (max-width: 600px) {

    .menu a {
        font-size: 16px;
    }

    .menu {
        flex-wrap: wrap;
        gap: 15px;
    }

    .searchinput {
        width: 150px;
        height: 35px;
    }

    .searchbutton {
        height: 35px;
        font-size: 14px;
    }

    .logo {
        font-size: 2rem;
    }
}

